{% extends 'diary/base.html' %}

{% block content %}
	<form action="" method="POST">
		<!-- formの入力欄を自動的につくる -->
		<!-- 入力欄が<p>で囲まれて出力される -->
		<!-- {{ form.as_p }} -->
		<table class="table">
			<tr>
				<th>{{ form.title.label }}</th>
				<td>{{ form.title }}</td>
			</tr>
			<tr>
				<th>{{ form.text.label }}</th>
				<td>{{ form.text }}</td>
			</tr>
			<tr>
				<th>{{ form.date.label }}</th>
				<td>{{ form.date }}</td>
			</tr>
		</table>
	<button type="submit" class="btn btn-primary">送信</button>
		<!-- POSTでのデータ送信時は入力必須 -->
		{% csrf_token %}
	</form>
{% endblock %}